*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    overflow-wrap: hidden;
    width: auto;
    background-color: black;
    color: antiquewhite;
}
h1{
    text-align: center;
    padding: 10px 0;
}
section{
    position: relative;
    margin: 0px 10px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 16px;
}
section .quote-result{
    padding: 10px;
    border-radius: 10px;
}
.change-color{
    background-color: rgba(204, 204, 0, 0.2);
}
.left-quotataion{
    position: absolute;
    left: 2%;
    top: 10%;
}
.right-quotataion{
    position: absolute;
    right: 2%;
    top: 70%;
}
.copy-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#copy-btn{
    background-color: rgba(204, 204, 0, 0.2);
    padding: 5px;
    margin-top: 10px;
    outline: none;
    color: antiquewhite;
    transition: 0.5s ease-in;
}
#copy-btn:hover{
    transform: scale(1.1);
}
#copy-btn i{
    font-size: 20px;
}
section div h4{
    font-size: 14px;
    font-weight: bolder;
    color: rgb(238, 157, 57);
}
section div p{
    padding-right: 10px;
    padding-top: 20px;
}
figcaption{
    position: absolute;
    right: 0;
    font-weight: bolder;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttons-container button{
    width: 200px;
    margin: 5px;
    padding: 10px 0;
    text-transform: capitalize;
    background-color: antiquewhite;
    color: #000;
    border: none;
    border-radius: 20px;
}
.buttons-container button:hover{
    background-color: rgb(229, 170, 91);
}
@media screen and (min-width: 400px){
    .buttons-container{
        margin: 0 auto;
    }
    .quote{
        font-size: 14px;
    }
}
@media screen and (min-width: 700px){
    .quote{
        font-size: 15px;
    }
    .buttons-container{
        margin: 0 auto;
    }
    section{
        font-size: 20px;
        margin: 0px 50px;

    }
    .left-quotataion{
        position: absolute;
        left: 2%;
        top: 10%;
    }
    .right-quotataion{
        top: 60%;
    }

}
@media screen and (min-width: 1024px){
    .left-quotataion{
        top: 10%;
    }
    .right-quotataion{
        top: 50%;
    }
    .quote{
        font-size: 16px;
    }
    .buttons-container{
        margin: 0 auto;

    }
}
@media screen and (min-width: 1200px){
    .left-quotataion{
        position: absolute;
        left: 2%;
        top: 10%;
    }
    .buttons-container{
        margin: 0 auto;
    }
}